<div class="full-wrap">
    <div class="main_wrap">
      <h2>Website Setting</h2>
  
        <div class="function-wrap">
          <ul class="input-list">
            <li>
              <label for="">Domain: </label>
              <input autocomplete="off" type="text" formControlName="value" placeholder="Enter domain" />
            </li>
            <li>&nbsp;&nbsp;</li>
  
            <li>
              <label for="">Domain Title Data: </label>
              <input autocomplete="off" type="text" formControlName="value" placeholder="Enter domain title" />
  
            </li>
            <li>&nbsp;&nbsp;</li>
  
  
            <li>
              <button type="submit" class="btn-send">Save</button>
            </li>
          </ul>
  
        </div>
  
      
  
      <div class="total_all">
        <label for="">Search: </label>
        <input type="text" name="" id="" placeholder="" ng-reflect-name="" class="ng-untouched ng-pristine ng-valid">
        <div class="spacer">
        </div>
        <span class="total-users"> </span>
      </div>
  
      <div id="widthAll" class="width-all">
        <table id="resultTable" class="table01 margin-table sortable" style="display: table;">
          <tbody>
            <tr>
              <th width="10%" class="align-L">S.No</th>
              <th width="10%" class="align-L">Domain</th>
              <th width="13%" class="align-L">Site Title</th>
              <th id="logoTh" width="10%">Logo</th>
              <th id="backgroundTh" width="12%">Background</th>
              <th width="10%">Close Website</th>
            </tr>
            <tr style="display: table-row;">
              <td class="align-L">1</td>
              <td class="align-L"> </td>
              <td class="align-L"> </td>
              <td> </td>
              <td> </td>
              <td><label class="xyz">
                  <input type="checkbox" /><span class="slider round"></span></label> </td>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>