

  * {
    margin: 0;
    padding: 0;
}
  .mian-wrap .gamehall .entrance-half:before {
    padding-top: 68.77778%;
  }

  h3 {
    text-transform: uppercase;
    background-image: linear-gradient(270deg, rgba(41, 42, 42, 0.62) 4%, #000 97%);
    font-size: 15px;
    font-weight: 800;
  }
  
  
  
  .bg-32Cards {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -350px;
  }
  .bg-32CardsB {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -630px -10px;
  }
  .bg-AAA {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -630px -190px;
  }
  .bg-Baccarat2 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -530px;
  }
  .bg-DTL2020 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -330px -530px;
  }
  .bg-3CardsJud {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -710px;
  }
  .bg-5FiveCricket {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -330px -710px;
  }
  .bg-AB {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -950px -10px;
  }
  .bg-DT1Day {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -950px -190px;
  }
  .bg-AB2 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -950px -370px;
  }
  .bg-Baccarat {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -950px -550px;
  }
  .bg-Bollywood {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -890px;
  }
  .bg-CasinoMeter {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -330px -890px;
  }
  .bg-Cricket2020 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -650px -890px;
  }
  .bg-CasinoQueen {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -1070px;
  }
  .bg-DT2 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -330px -1070px;
  }
  .bg-DT2020 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -650px -1070px;
  }
  .bg-InstantWorli {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -10px;
  }
  .bg-Lucky7A {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -190px;
  }
  .bg-Lucky7B {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -370px;
  }
  .bg-TPOpen {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -550px;
  }
  .bg-TPTest {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -730px;
  }
  .bg-war {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1270px -910px;
  }
  .bg-WorliMatka {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -1250px;
  }
  .bg-Poker1Day {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -330px -1250px;
  }
  .bg-Poker6P {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -650px -1250px;
  }
  .bg-Poker2020 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -970px -1250px;
  }
  .bg-Race2020 {
    width: 600px; height: 320px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -10px -10px;
  }
  .bg-superover {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1590px -10px;
  }
  .bg-TP1Day {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1590px -190px;
  }
  .bg-TP2020 {
    width: 300px; height: 160px;
    background: url('../../../assets/images/casino_new/casino_sprites.png') -1590px -370px;
  }

  .sport-list-title {
    color: #fdcf13;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #fdcf13;
    background-image: linear-gradient(270deg,rgba(41,42,42,.62) 4%,#000 97%);
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

.gamehall-wrap-simple {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.entrance-title {
  background-image: linear-gradient(270deg,rgba(41,42,42,.62) 4%,#000 97%);
}

.entrance-title dt {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.entrance-title dt {
  flex: 1;
  font-size: 17px;
  line-height: 28px;
  text-indent: 10px;
  color: #fff;
  font-weight: 700;
}
.entrance-title dd {
  width: 80px;
  line-height: 30px;
  height: 100%;
  background-image: url('data:image/svg+xml,<svg width="16" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M11.853 0H16v26H0L11.853 0z" fill="rgb(32, 109, 169)" fill-rule="evenodd"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #fff !important
}

.entrance-title {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
}

.gamehall-wrap-simple .entrance-half:before {
  content: "";
  float: left;
}

.gamehall-wrap-simple .entrance-half {
  grid-column: span 1;
}

.gamehall-wrap-simple a {
  position: relative;
}

.gamehall-wrap-simple .entrance-half:before {
  padding-top: 60.77778%;
}

 .entrance-title dd:after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 64px;
  height: 100%;
  background-color: #206da9;
  content: "";
}

.gamehall-wrap-simple a img {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
}

.tp_image {
  height: auto;
}

.entrance-title dt {
  font-size: 13px;
}
.over-wrap{
  height: calc(100% - 26px);
  width: 87%;
    margin-left: 7%;
}



@media (max-width: 576px) {
  .over-wrap{
    height: calc(100% - 26px);
    width: 100%;
      margin-left: 0%;
  }
  .gamehall-wrap-simple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}