@import 'src/assets/scss/tables';

.commentary-detail {
    // display: flex;
  
    select {
      margin-right: 4px;
    }
  
    select, input {
      width: 100%;
      border-style: unset;
      border-radius: 5px;
      box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.5);
    }
  
    & > div {
      flex: 1;
    }
  
    .input-group {
      margin-right: 4px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  textarea {
    width: 100%;
  }
  
  .btn-send[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }